.w3-tooltip, .w3-display-container {
    position:inherit
}

.w3-content {
    margin: 0;
}

.w3-display-left {
    font-size: 50px;
    position:fixed;
}

.w3-display-right {
    font-size: 50px;
    position:fixed;
}